        body{
            font-family: sans-serif;
            line-height: 1.4;
        }
        #container{
            /* width: 680px;
            position: relative;
            left: 400px; */
            max-inline-size: 700px;
            margin-inline: auto;
        }
        header{
            text-align: center;
        }
        h1{
            text-align: center;
            font-size: 80px;
            line-height: 1.1;
        }

        h1 span{
            color: rgb(74, 113, 166);
        }

        img{
            display: block;
            max-inline-size: 100%;
        }
        #h2-1{
            color: orange;
        }

        #h2-2{
            color: rgb(44, 140, 162);
        }

        ul{
            list-style: circle ;
            /* list-style-position: outside;
            color: brown; */
        }
        a{
            color: rgb(119, 162, 44);
        }

        a:visited{
            color: purple;
        }

        a:hover{
            color: blue;
        }

        a:active{
            color: black;
        }
        
        .two-column-style{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 100px;
        }

       .teal-bg{
            color: white;
            background-color: rgb(51, 116, 162);
            padding: 10px;
            border: solid rgb(45, 84, 113) 5px;
        } 

        p{
            font-size: small; 
           
        }


        #another-resource{
            background-color:rgb(155, 206, 251);
            padding: 10px;
            border:groove ;
            text-align: center;
        }

        section{
             margin-block: 70px;
        }
        footer{
            padding: 1px ;
            text-align: center;
            background-color: rgb(51, 116, 162);
            color: white;
        }
    
        li{
            font-size: small;
        }

